body{

 background: #00FFFF;
 font-family: Verdana, sans-serif;
    
 }
.svg-container {
    
    display: inline-block;
    position: relative;
    width: 50%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    top: 0px;
    left: 0px;
    
}
.svg-content {
    
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#info {
    
    display: inline-block;
    position: relative;
    width: 40%;
    background: #FFFFFF;
    font-family: Verdana, sans-serif;
    padding: 16px;
}

#info .state{
    
    color: #373A41;
    font-size: 17px;
    font-weight: bold;
    margin: 32px 32px 0px 32px; /* trbl */

    
}

#info .description{
    
    color: #A7A7A2;
    font-size: 14px;
    font-style: italic;
    margin: 0px 32px 16px 32px; 
    
}

#info .value{
    
    color: #777777;
    font-size: 16px;
    margin-left: 32px;
    margin: 0px 32px 8px 32px;
    
}
    